.basket {
}
.basketInfo {
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 400px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.basketInfo > div {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
