.main {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 400;
  background-color: white;
  padding-bottom: 20px;
  margin: 20px;
  border: 1px solid red;
}

img {
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
