* {
  margin: 0;
  box-sizing: border-box;
}

.ecom {
  display: flex;
  width: 100vw;
  margin-top: 20px;
  justify-content: space-between;
}

.ecom > :first-child {
  background-color: rgb(205, 221, 221);
  padding: 20px 50px;
  width: 60%;
  height: 100vh;
}
.ecom > :last-child {
  background-color: rgb(205, 221, 221);
  padding: 20px 50px;
  width: 40%;
  height: 100vh;
}
